<table style="text-align: center;width:100%;" align="center" cellpadding="0" cellspacing="0">
    <tr height="20"></tr>
    <tr>
      <td colspan="3" style="text-align:right;">
        <a href="<%= header.borwserUrl %>" style="color:#c1c2c6;font-family:'微软雅黑','sans-serif';font-size: 18px;">View in browser</a>
      </td>
    </tr>
    <tr>
      <td width="105">
        <a href="<%= header.logo.linkUrl %>"><img src="<%= header.logo.imgUrl %>" alt=""></a>
      </td>
      <td width="755" style="text-align:left;color:#2b2f32;font-size:40px;font-family:'微软雅黑','sans-serif';padding-left:38px;">
        <%= header.title %>
      </td>
      <td width="298" style="font-size:20px;font-family:'微软雅黑','sans-serif';color:#7a8187;text-align:right;">
        <%= header.time %>
      </td>
    </tr>
    <tr height="30"></tr>
</table>